@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jaro", sans-serif;
  color-scheme: dark;
  scroll-behavior: smooth;
}